*.*
!*.mq4
!*.mqh
!*.md
!*.set
!.gitignore
!.gitattributes
!LICENSE.txt

origin.txt

/Live
/**/Live
live.*

/TEMP
/**/TEMP
tmp.*
temp.*

/secret
/**/secret
secret.*

/config

/history
!/history/symbolsets/Demo_*.set

/logs

/templates
!/templates/*.htm
!/templates/Default.tpl
!/templates/tester.tpl

/tester

/MQL4/**/Downloads

/MQL4/Files

/MQL4/Experts/Downloads

!/MQL4/Images/*.*

/MQL4/Include/Arrays
/MQL4/Include/Canvas
/MQL4/Include/ChartObjects
/MQL4/Include/Charts
/MQL4/Include/Controls
/MQL4/Include/Files
/MQL4/Include/Indicators
/MQL4/Include/Layouts
/MQL4/Include/Strings
/MQL4/Include/Tools
/MQL4/Include/WinUser32.mqh
/MQL4/Include/StdLibErr.mqh
/MQL4/Include/stdlib.mqh
/MQL4/Include/stderror.mqh
/MQL4/Include/Object.mqh
/MQL4/Include/MovingAverages.mqh

/MQL4/Indicators/Downloads
/MQL4/Indicators/Examples
/MQL4/Indicators/ZigZag.mq4
/MQL4/Indicators/Stochastic.mq4
/MQL4/Indicators/RSI.mq4
/MQL4/Indicators/Parabolic.mq4
/MQL4/Indicators/OsMA.mq4
/MQL4/Indicators/Momentum.mq4
/MQL4/Indicators/MACD.mq4
/MQL4/Indicators/iExposure.mq4
/MQL4/Indicators/Ichimoku.mq4
/MQL4/Indicators/Heiken Ashi.mq4
/MQL4/Indicators/Custom Moving Averages.mq4
/MQL4/Indicators/CCI.mq4
/MQL4/Indicators/Bulls.mq4
/MQL4/Indicators/Bears.mq4
/MQL4/Indicators/Bands.mq4
/MQL4/Indicators/Awesome.mq4
/MQL4/Indicators/AutoBringChartToTop.mq4
/MQL4/Indicators/ATR.mq4
/MQL4/Indicators/Alligator.mq4
/MQL4/Indicators/Accumulation.mq4
/MQL4/Indicators/Accelerator.mq4

/MQL4/Libraries/Downloads
/MQL4/Libraries/stdlib.mq4


/MQL4/Logs

/MQL4/Presets/Live
/MQL4/Presets/secret
/MQL4/Presets/temp
!/MQL4/Presets/Demo

/MQL4/Projects

/MQL4/Scripts/Downloads
